html,
body,
#root,
.bodyContainer {
    font-family: Arial, Helvetica, Helvetica Neue, HelveticaNeue, Lucida Grande, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.bodyContainer {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.header {
    box-shadow: 0 1px 4px 0 #0003;
}
.ciscoLogo {
    color: #049fd9;
    padding: 20px;
    font-size: 24px;
}
.middle {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.footer {
    height: 50px;
    border-top: 1px solid #ccc;
}

.left,
.right {
    height: 100%;
}

.left {
    border-right: 1px solid #ccc;
    flex: 0 0 230px;
    overflow: auto;
}

.directoryList {
    padding: 10px;
}

.directoryList h4 {
    margin: 5px 0;
}

.directoryList .filename {
    padding: 5px 5px 5px 10px;
}

.right {
    flex: 1;
    display: flex;
}

.filename {
    display: block;
}

.keyList {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

.keyItem {
    padding: 5px;
}

.filename.selected,
.keyItem.selected {
    background-color: lightblue;
}

.keyDetails {
    flex: 0 0 400px;
    border-left: 1px solid #ccc;
    padding: 10px;
}

.keyDetails .lang {
    display: block;
}

.keyDetails textarea {
    display: block;
    width: 90%;
}

.key-lang {
    margin-top: 20px;
}

.langSect {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.langSect .lang {
    padding-bottom: 10px;
}

.actionHeader {
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 5px;
}
.actionHeader .addNewKey {
    color: steelblue;
}